/AddPlayerCommandFactory.class
/CommandFactory.class
/CreateTeamCommandFactory.class
/DeleteCommandFactory.class
/DisplayAllTeamCommandFactory.class
/DisplayTeamCommandFactory.class
/ExitCommandFactory.class
/FootballTeamFactory.class
/ModifyPlayerPositionCommandFactory.class
/PlayerFactory.class
/RedoCommandFactory.class
/RenameTeamCommandFactory.class
/SetCurrentTeamCommandFactory.class
/TeamFactory.class
/UndoCommandFactory.class
/VolleyballTeamFactory.class
/displayUndoRedoCommandFactory.class
